#dashboard-wrapper {
  display: inline-block;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  background-color: #272727;
}

#dashboard-menu-wrapper {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #363636;
}

#top-bar-logo {
  height: 40px;
  width: 30px;
  background-image: url('assets/images/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.top-menu-link {
  height: 25px;
  width: 25px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: right;
  margin-top: 12px;
  margin-right: 20px;
}

#settings-link {
  background-image: url('assets/images/settings.png');
}

#cycle-clock-link {
  background-image: url('assets/images/clock.png');
}

#remove-item-link {
  background-image: url('assets/images/delete.png');
}

#add-item-link {
  background-image: url('assets/images/plus.png');
}

#main-container-wrapper {
  display: inline-block;
  height: 100%;
  background-color: #272727;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

#addDeviceSelectType {
  background-color: #272727;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 160px;
  width: 320px;
  z-index: 10;
}

#addDeviceSelectTypeInner {
  background-color: #363636;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 140px;
  width: 300px;
  z-index: 15;
}

#deviceTypeSelect {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}

#addDeviceSelectTypeButtonsWrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

#addDeviceCancelButton {
  display: inline-block;
  width: 50%;
  float: left;
}

#addDeviceSelectButton {
  display: inline-block;
  width: 50%;
  float: left;
}

#blackout {
  position: fixed;
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 5;
  opacity: 0.9;
}

#addDeviceWrapper {
  background-color: #272727;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 160px;
  width: 570px;
  z-index: 10;
}

#addDeviceInnerWrapper {
  background-color: #363636;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 140px;
  width: 550px;
  z-index: 15;
}

#addDeviceInfoContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}

#addDeviceNameInputContainer {
  display: inline-block;
  width: 40%;
}

#deviceTypeSelectContainer {
  display: inline-block;
  width: 38%;
}

#devicePinSelectContainer {
  display: inline-block;
  width: 20%;
}

#addDeviceFinalButtonContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

#addDeviceCloseButton {
  display: inline-block;
  width: 50%;
  float: left;
}

#addDeviceAddButton {
  display: inline-block;
  width: 50%;
}

#confirmDeleteContainer {
  background-color: #272727;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 160px;
  width: 420px;
  z-index: 10;
}

#confirmDeleteInnerContainer {
  background-color: #363636;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 140px;
  width: 400px;
  z-index: 15;
}

#confirmDeleteContentContainer {
  width: 80%;
  margin-left: 10%;
}

#confirmDeleteNo {
  display: inline-block;
  width: 50%;
  float: left;
}

#confirmDeleteYes {
  display: inline-block;
  width: 50%;
}

#confirmDeleteText {
  color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

#confirmDeleteButtonContainer {
  margin-top: 20px;
}

#changeCycleTimesContainer {
  background-color: #272727;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-height: 155px;
  height: 100%;
  width: 100%;
  max-width: 200px;
  z-index: 10;
}

#changeCycleCloseBtnContainer {
  width: calc(100% - 10px);
  text-align: right;
}

#cycleInfoMainWrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  height: 50px;
}

.changeCycleTextContainer {
  margin-top: 7px;
  width: 45%;
  height: 90%;
  text-align: left;
  color: #FFF;
  font-size: 18px;
  display: inline-block;
}

.changeCycleDropDownContainer {
  height: 90%;
  margin-left: 5%;
  width: 50%;
  display: inline-block;
  float: right;
}
