{
  "email": {
    "from": "fake@fake.com",
    "to": "fake@fake.com",
    "host": "smtp.fake.com",
    "port": "555",
    "use_ssl": "true",
    "username": "user",
    "password": "password"
  },
  "twillio": {
    "sid": "",
    "token": "",
    "to": "+15555555555",
    "from": "+15555555555"
  },
  "database": "/home/your_user/hobloom.db",
  "database_batch_size": 100
}
